@font-face {
  font-family: "Tiny100";
  src: url("../fonts/TINY5x3-100.woff");
}

@font-face {
  font-family: "Tiny120";
  src: url("../fonts/TINY5x3-120.woff");
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
		margin-top: -0.25rem;
		margin-left: 0rem;
	}
	12.5% {
		margin-top: 1.75rem;
		margin-left: -1.5rem;
	}
	25% {
		margin-top: 0rem;
		margin-left: 0rem;
	}
	37.5% {
		margin-top: 1.5rem;
		margin-left: -1.75rem;
	}
	50% {
		margin-top: -0.25rem;
		margin-left: 0rem;
	}
	62.5% {
		margin-top: 1.75rem;
		margin-left: -1.5rem;
	}
	75% {
		margin-top: 0rem;
		margin-left: 0rem;
	}
	87.5% {
		margin-top: 1.5rem;
		margin-left: -1.75rem;
	}
	100% {
		transform: rotate(720deg);
		margin-top: -0.25rem;
		margin-left: 0rem;
	}	

/*	0% {
		transform: rotate(0deg);
		margin-top: 2rem;
		margin-left: 0rem;
	}
	100% {
		transform: rotate(720deg);
		margin-top: 2rem;
		margin-left: 0rem;
	}*/
}





html {
	scroll-behavior: smooth;
}

* {
	font-size: 11px;
}

body {
	margin: 0;
}

/* STRUCTURE */

div.navigation {
	position: fixed;
	top: 0;
	/*height: 3.75rem;*/

	display: flex;
	flex-direction: column;
	justify-content: left;

	padding: 1rem;
	text-align: left;

	animation: spin;
	animation-timeline: scroll();
	animation-timing-function: linear;

	z-index: 1000;
}

h3.navigation {
	margin-bottom: -0.5rem;
}

img.icon {
	position: fixed;
	top: 1rem;
	right: 1rem;

	width: calc(144px / 4);

	mix-blend-mode: multiply;

	animation: spin;
	animation-timeline: scroll();
	animation-timing-function: linear;
}

/*div.header {
	position: fixed;
	width: calc(100vw + 16rem);

	margin: -1.4vw -8rem 0 -8rem;

	color: yellow;
	z-index: -1000;
}*/

.container {
	display: flex;
	flex-direction: column;
	gap: 12rem;

	padding: 12rem 4rem 4rem 4rem;
 }

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 8rem 0 0 0;

	margin: -8rem auto 0 auto;
}

#nextclass {
	gap: 1.5rem;

	max-width: 80rem;
}

#arena {
	gap: 1rem;
}

#values {
	gap: 0;
}

#us {
	gap: 2rem;
}

iframe {
	/*width: calc(100vw - 8rem);*/
	width: calc(100%);
	height: 54vw;
	margin: 0;

	border: 0;
}

img {
	margin: auto;
}

img.thumbnail {
	width: 10rem;
}

img.multiply {
	mix-blend-mode: multiply;
}


/* CURSOR */

a.external {
	cursor: alias;
}



/* COLOUR */

body {
	background-color: #cccccc;
}

h3.navigation {
	color: rgb(255, 100, 255);
}

#nextclass {
	background-color: ;
}

#arena {
	background-color: ;
}

#values {
	background-color: ;
}

::selection {
	color: rgb(255, 0, 0);
	background-color: rgb(255, 100, 255);
}

a {
	color: rgb(255, 100, 255);
}

a:hover {
	color: rgb(255, 0, 0);
}



/* TYPE */

p.header {
	font-family: Tiny100;
	font-size: 25vw;
	line-height: 12.5vw;

	position: relative;
	top: 3.8vw;

	text-align: center;
}

h1 {
	font-size: 6rem;
	line-height: 5.25rem;
	font-weight: normal;
	letter-spacing: -0.016em;

	text-align: center;

	margin: 0;
}

h2, h2 > a {
	font-size: 3rem;
	line-height: 2.75rem;
	font-weight: normal;
	letter-spacing: -0.016em;

	text-align: center;

	margin: 0;
}

h3 {
/*	font-size: 2rem;
	line-height: 2rem;*/
	/*font-weight: normal;*/
	/*font-family: 'Arial Black', 'Arial Bold', sans-serif;*/

	font-size: 2rem;
	line-height: 2rem;
	font-family: Tiny100;

	text-align: center;

	margin: 0;
}

h3.margin-1 {
	margin: 0 0 -1rem 0;
}

p {
	font-size: 1.5rem;
	line-height: 1.5rem;

	text-align: center;

	margin: 0;
}

p.tiny {
	font-family: Tiny120;
	font-size: 1.3rem;
}

ul {
	list-style-position: inside;

	margin: 0;
}

.navigation > ul {
	list-style-type: "";
	margin-inline-start: 0;
	padding-inline-start: 0;
}

#nextclass > ul {
	text-align: center;
	list-style-type: "☐ ";
	margin-inline-start: 0;
	padding-inline-start: 0;
}

#nextclass > ul > li {
	font-size: 3rem;
	line-height: 2.75rem;
	font-weight: normal;
	letter-spacing: -0.016em;
}

li {
	margin: 0;
}

span {
	letter-spacing: 0;
	font-weight: normal;
}

p.caption {
	font-size: 1rem;
	line-height: 1.1rem;
}

span.caption {
	font-size: 1rem;
	line-height: 1.1rem;

	position: relative;
	top: -0.5em;
}

span.serif {
	font-family: serif;
	/*font-size: 1em;*/
}

span.sansserif {
	font-family: sans-serif;
	/*font-size: 1em;*/
}

span.smaller {
	font-size: 0.5em;
	line-height: 0.5rem;
}

span.numberlist {
	font-family: Tiny100;
	font-size: 0.5em;
	line-height: 0.25rem;

	margin-right: 1.5rem;

	position: relative;
	top: -0.45em;
}

span.star {
	position: relative;
	top: -0.1em;
}





@media only screen and (max-width: 680px) {

.container {
	gap: 8rem;

	padding: 8rem 2rem 4rem 2rem;
}

h1 {
	font-size: 5rem;
	line-height: 4.5rem;
}

}