@font-face {
  font-family: "Tiny100";
  src: url("../fonts/TINY5x3-100.woff");
}

@font-face {
  font-family: "Tiny120";
  src: url("../fonts/TINY5x3-120.woff");
}

@keyframes colourpop {
	0% {
		font-size: 1.25em;
	}
	3% {
		color: rgb(0, 0, 0);
	}
	5% {
		font-size: 1.5em;
	}
	6% {
		color: rgb(255, 100, 255);
	}
	8% {
		font-size: 1.25em;
	}
}

@keyframes spin {

	0% {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);

		-ms-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	12.5% {
		-ms-transform-origin: 39% 52%;
		-moz-transform-origin: 39% 52%;
		-webkit-transform-origin: 39% 52%;
		-o-transform-origin: 39% 52%;
		transform-origin: 39% 52%;
	}
	25% {
		-ms-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	37.5% {
		-ms-transform-origin: 48% 63%;
		-moz-transform-origin: 48% 63%;
		-webkit-transform-origin: 48% 63%;
		-o-transform-origin: 48% 63%;
		transform-origin: 48% 63%;
	}
	50% {
		-ms-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	62.5% {
		-ms-transform-origin: 39% 52%;
		-moz-transform-origin: 39% 52%;
		-webkit-transform-origin: 39% 52%;
		-o-transform-origin: 39% 52%;
		transform-origin: 39% 52%;
	}
	75% {
		-ms-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	87.5% {
		-ms-transform-origin: 48% 63%;
		-moz-transform-origin: 48% 63%;
		-webkit-transform-origin: 48% 63%;
		-o-transform-origin: 48% 63%;
		transform-origin: 48% 63%;
	}
	100% {
		-ms-transform: rotate(720deg);
		-moz-transform: rotate(720deg);
		-webkit-transform: rotate(720deg);
		-o-transform: rotate(720deg);
		transform: rotate(720deg);

		-ms-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
}


/* STRUCTURE */

html {
	scroll-behavior: smooth;
	font-size: 11px;
}

body {
	margin: 0;
}

div.navigation {
	position: fixed;
	top: -0.25rem;
	/*height: 3.75rem;*/

	display: flex;
	flex-direction: column;
	justify-content: left;

	padding: 1rem;
	text-align: left;

	-webkit-animation: spin linear;
	-moz-animation: spin linear;
	-ms-animation: spin linear;
	-o-animation: spin linear;
	animation: spin linear;
	animation-timeline: scroll();

	z-index: 1000;
}

h3.navigation {
	margin-bottom: -0.5rem;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 12rem;

	padding: 12rem 4rem 5rem 4rem;
 }

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 10rem 0 0 0;
	margin: -10rem auto 0 auto;
}

#nextclass {
	gap: 1.5rem;

	max-width: 80rem;
}

#arena {
	gap: 1.5rem;
}

#officehours {
	gap: 1.5rem;
}

#values {
	gap: 0;
}

#us {
	gap: 2rem;
}

iframe {
	/*width: calc(100vw - 8rem);*/
	width: calc(100%);
	height: 54vw;
	margin: 0;

	border: 0;
}

img {
	margin: auto;
}

img.thumbnail {
	width: 10rem;
}

img.multiply {
	mix-blend-mode: multiply;
}


/* CURSOR */

a.external {
	cursor: alias;
}

#nextclass > ul > li:hover {
	cursor: help;
}


/* COLOUR */

body {
	background-color: #cccccc;
}

h3.navigation {
	color: rgb(255, 100, 255);
}

#nextclass {
	background-color: ;
}

#arena {
	background-color: ;
}

#values {
	background-color: ;
}

#us > p {
	animation: colourpop ease;
	animation-timeline: view();
}

::selection {
	color: rgb(255, 0, 0);
	background-color: rgb(255, 100, 255);
}

a {
	color: rgb(255, 100, 255);
}

a:hover {
	color: rgb(255, 0, 0);
}



/* TYPE */

p.header {
	font-family: Tiny100;
	font-size: 25vw;
	line-height: 12.5vw;

	position: relative;
	top: 3.8vw;

	text-align: center;
}

h1 {
	font-size: 6rem;
	line-height: 5.25rem;
	font-weight: normal;
	letter-spacing: -0.016em;

	text-align: center;

	margin: 0;
}

h2, h2 > a {
	font-size: 3rem;
	line-height: 2.75rem;
	font-weight: normal;
	letter-spacing: -0.016em;

	text-align: center;

	margin: 0;
}

h3 {
/*	font-size: 2rem;
	line-height: 2rem;*/
	/*font-weight: normal;*/
	/*font-family: 'Arial Black', 'Arial Bold', sans-serif;*/

	font-size: 2rem;
	line-height: 2rem;
	font-family: Tiny100;
	font-weight: normal;

	text-align: center;

	margin: 0;
}

h3.margin-1 {
	margin: 0 0 -1rem 0;
}

h3.margin05 {
	margin: 0 0 0.5rem 0;
}

p {
	font-size: 1.5rem;
	line-height: 1.5rem;

	text-align: center;

	margin: 0;
}

p.tiny {
	font-family: Tiny120;
	font-size: 1.25rem;
	line-height: 1rem;
}

ul {
	list-style-position: inside;

	margin: 0;
}

.navigation > ul {
	list-style-type: "";
	margin-inline-start: 0;
	padding-inline-start: 0;
}

#nextclass > ul {
	text-align: center;
	list-style: "☐ " inside;
	margin-inline-start: 0;
	padding-inline-start: 0;
}

#nextclass > ul > li {

	font-size: 3rem;
	line-height: 2.75rem;
	font-weight: normal;
	letter-spacing: -0.016em;
}

li {
	margin: 0;
}

span {
	letter-spacing: 0;
	font-weight: normal;
}

p.caption {
	font-size: 1rem;
	line-height: 1.1rem;
}

span.caption {
	font-size: 1rem;
	line-height: 1.1rem;

	position: relative;
}

h2 > span.caption {
	top: -0.85em;
}

h3 > span.caption {
	top: -0.4em;
}

span.serif {
	font-family: serif;
	/*font-size: 1em;*/
}

span.sansserif {
	font-family: sans-serif;
	/*font-size: 1em;*/
}

span.smaller {
	font-size: 0.5em;
	line-height: 0.5rem;
}

span.numberlist {
	font-family: Tiny100;
	font-size: 2rem;
	line-height: 2rem;

	margin-right: 1.5rem;

	position: relative;
	top: -0.75em;
}

span.star {
	position: relative;
	top: -0.07em;
}

span.dash {
	font-size: 1em;
	position: relative;
	top: -0.1em;
}


/* jQuery animation classes */

.no-transition {
	transition-duration: 0s;
}

.hovercolour {
	cursor: none;
	line-height: 0;
	transition-duration: 0.2s;

	padding: 0.25rem;
	margin: calc(-0.25rem - 0.008em);
}

.growtype {
	font-size: 1.3em;
	line-height: 0;
	transition-duration: 0.1s;
}

.wider {
	width: 101.5%;
	margin-left: -0.75%;
}

.colourpink {
	color: rgb(255, 100, 255);
}

.colourred {
	color: rgb(255, 0, 0);
}

.box-filled {
	list-style: "☒ " inside;
}





@media only screen and (max-width: 680px) {

.container {
	gap: 8rem;

	padding: 8rem 2rem 4rem 2rem;
}

.section {
	padding: 6rem 0 0 0;
	margin: -6rem auto 0 auto;
}

h1 {
	font-size: 5rem;
	line-height: 4.5rem;
}

}